<h1 [ngStyle]="headstyle">Hello world</h1>
<p> app componenet start</p>
<input type="button"  [disabled]='istrue' value="click me" (click)='abc()' />

Name:<input type="text" name="" value=""  [(ngModel)]='myName'>

<input type="button" value="SUM" (click)='sum()'>
Enter Number:<input type="text" name="" value=""  [(ngModel)]='Num'>

<div *ngIf='myfunc()'>Result is  <label id="sumRes">{{Result}}</label> </div>
<img src="{{angularLogo}}"/>
<img bind-src="angularLogo"/>
<img [src]="angularLogo"  [style.width]="imagwidth"/>

<p [ngClass]="new1">app components end</p>
