.red{
    color:red;
    font-size:20px;
    font-style: italic;
}

#master{
    width:1200px;
    margin:0 auto;
}

.midcontent{

    width:100%;
    float:left;
    
}

.midcontent{text-align:center;}

